{% extends 'base.html' %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center login">

        <main class="form-signin shadow p-3 mb-5 bg-white rounded">

            <h1 class="h3 mb-3 fw-normal">Login</h1>
            

            <form method="post">

                {% csrf_token %}
                <input type="text" class="form-control" name="username" placeholder="CPF" required autofocus>
        
                <input type="password" class="form-control" name="password" placeholder="Senha" required>
        
                <p><a href="">Esqueceu a senha?</a></p>
                
                <button type="submit" class="btn btn-lg btn-success">Entrar</button>
            </form>
          
            {% if has_error %}
                <p class="messages">{{error_message}}</p>
            {% endif %}

            <p>Não tem cadastro? <a href="{% url 'web:register_user' %}">Faça aqui!</a></p>
       
        </main>

    </div>
{% endblock %}