{% extends 'base.html' %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn-fibo.css' %}">
{% endblock %}

{% block content %}

<div class="text-center register">
    
    <main class="form-signin shadow p-3 mb-5 bg-white rounded">
        
        <h1 class="h3 mb-3 fw-normal">Cadastro da FiboConta</h1>

        <form method="POST">

            {% csrf_token %}
            
            <select name="type_account" class="form-select" required>
                <option selected>---- ------</option>
                <option value="poupanca">Conta Poupança</option>
                <option value="corrente">Conta Corrente</option>
                <option value="salario">Conta Salario</option>
            </select>
            
            <input type="password" class="form-select" placeholder="Senha do cartão - 4 digitos" name="card_password" required>

            <button type="submit" class="btn btn-lg btn-success" id="btn-register" disabled>Criar conta</button>
            
        </form>
        
        {% if has_error %}
            <p class="messages" >{{error_message}}</p>
        {% endif %}

        <div id="error"></div>
    </main>
    
</div>
{% endblock %}

{% block js-files %} 
<script src="{% static 'js/passwordCard.js'%}"></script>
{% endblock %}