body{
    background-color: #242526;
}

#menu {
    background-color: #18191a;
}

#menu a {
    color : white;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

#logo{
    width: 30px;
    height: 30px;
}

main > .container{
    padding: 60px 15px 0;
}