.info {
    margin-bottom: 15px;
    width: 100%;
    text-align: justify;
}

.user-data {
    background-color: #17bf63;
    border-radius: 1%;
}

.saldo {
    text-align: left;
    margin: 10px 5px 10px 0px;
    height: 400px;
}

.saldo-conta {
    font-size: 2.5rem;
    font-weight: bold;
}

.extrato {
    text-align: left;
    margin: 10px 0px 0px 0px;
    height: 400px;
}

#scroll {
    height: 300px;
    display: block;
    overflow-y:scroll;
    width: 100%;
}

#scroll::-webkit-scrollbar{
    display: none;
}

.historic {
    justify-content: right;
    justify-items: right;
}

.extrato-list {
    margin-top: 10px;
    height: min-content;
    display: flex;
}

.extrato-list p {
    align-items: center;
    text-align: center;
    height: min-content;
    margin: 1px 1px 1px;
}