{% extends 'base.html'%}

{% block title %}Home{% endblock %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center login">

        <main class="form-signin shadow p-3 mb-5 bg-white rounded">

            <h1 class="h3 mb-4 fw-normal">Redefinir senha do cartão</h1>

            <form method="post">

                {% csrf_token %}
                <input type="text" class="form-control" name="user_password" placeholder="Senha da Conta" required autofocus>
        
                <input type="password" class="form-control" name="card_password" placeholder="Nova Senha do cartão" required>
                
                <input type="password" class="form-control" name="card_password2" placeholder="Repita a Nova Senha do cartão" required>
        
                <button type="submit" class="btn btn-lg btn-success">Entrar</button>
            </form>
          
            {% if has_error %}
                <p class="messages">{{error_message}}</p>
            {% endif %}
       
        </main>

    </div>
{% endblock %}