{% extends 'base.html'%}

{% block title %}Home{% endblock %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center login">

        <main class="form-signin shadow p-3 mb-5 bg-white rounded">

            <h1 class="h3 mb-4 fw-normal">Redefinir senha do cartão</h1>

            <form method="post">

                {% csrf_token %}
                <input type="password" class="form-control" name="user_password" placeholder="Senha da Conta" minlength="6" required autofocus>
        
                <input type="password" class="form-control" name="card_password" placeholder="Nova Senha do cartão" id="password_1" minlength="4" maxlength="4" required>
                
                <input type="password" class="form-control" name="card_password2" placeholder="Repita a Nova Senha do cartão" id="password_2" minlength="4" maxlength="4" required>
        
                <button type="submit" class="btn btn-lg btn-success" id="btn-register">Entrar</button>
            </form>
          
            {% if has_error %}
                <p class="messages">{{error_message}}</p>
            {% endif %}
            
            <div id="error"></div>
        </main>

    </div>
{% endblock %}

{% block js-files %} 
    <script src="{% static 'js/verifypassword.js' %}"></script>
    <script src="{% static 'js/passwordCard.js' %}"></script>
{% endblock%}
