{% extends 'base.html' %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn-fibo.css' %}">
{% endblock %}


{%  block content %}


<section class="container">

    <h2 style="color: whitesmoke;">Olá, Chefe Jacquan!</h2>
    
    <div class="row">

        <div class="col-sm-3 col-md-3">
            <div class="row">
                <div class="col-sm-2 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Cartões</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Faturas & Saldos</h6>
                            <p class="card-text">Avalie seus saldos/creditos dos seus cartões fibo, além de consultar suas faturas.</p>
                            <a href="#" class="card-link btn-fibo-1">Clique aqui</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-2 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Transações</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Depositos & Pagamenos</h6>
                            <p class="card-text">Realize seus depositos, pagamentos e transferencias de sua fiboconta, além de consultar o credito de emprestimos.</p>
                            <a href="#" class="card-link btn-fibo-1">Clique aqui</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> <!-- coluna dos cards-->
        
        <div class="col-sm-7 col-md-9">

            <div class="row user-data">

                <div class="col-sm-10 col-md-12">

                    <div class="row" style="height: 26.35rem;">

                        <div class="col-md-4">

                            <div class="card" style="width: 100%; height: 26rem;"> <!--26.83rem-->
                                <div class="card-body saldo">
                                    <h4 class="card-subtitle">Saldo disponivel</h4>
                                    <p class="card-text saldo-conta">R$ 740,00</p>

                                    <h4 class="card-subtitle"></h4>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-md-8">
                            <div class="card" style="width: 100%; height: 13.42rem;">
                                <div class="card-body">
                                    <h4 class="card-subtitle">Extrato</h4> <!--historico de transações-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
</section>
{% endblock %}