{% extends 'base.html' %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/btn-fibo.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{%  block content %}

    <div class="row">

        <h2 style="color:whitesmoke">Olá, {{username}}.</h2>

        <div class="col-sm-4 col-md-3">
            <div class="card info">
                <div class="card-body">
                    <h5 class="card-title">Cartões</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Faturas & Saldos</h6>
                    <p class="card-text">Avalie seus saldos/creditos dos seus cartões fibo, além de consultar suas faturas.</p>
                    <button type="button" class="btn-fibo-1" data-bs-toggle="modal" data-bs-target="#cartao">clique aqui</button>
                </div>
            </div>


            <div class="card info">
                <div class="card-body">
                    <h5 class="card-title">Transações</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Depositos & Pagamenos</h6>
                    <p class="card-text">Realize seus depositos, pagamentos e transferencias de sua fiboconta, além de consultar o credito de emprestimos.</p>
                    <button type="button" class="btn-fibo-1" data-bs-toggle="modal" data-bs-target="#transition">clique aqui</button>
                </div>
            </div>

        </div>

        <div class="col-sm-4 col-md-9">

            <div class="row user-data">

                <div class="col-md-5">
                    <div class="card saldo"> <!---26.83rem-->
                        <div class="card-body">
                            <h4 class="card-subtitle">Saldo disponivel</h4>
                            <p class="card-text saldo-conta">R$ {{balance}}</p>
                            <h4 class="card-subtitle"></h4>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-7"> 
                    <div class="card extrato">
                        <div class="card-body">
                            <h4 class="card-subtitle">Extrato</h4>
                            <h6>Extratos pagos</h6>
                            {% for extrato in transactions%}
                            <div class="alert alert-dark extrato-list">
                                <p class="form-control">R$ {{extrato.value}}</p>
                                <p class="form-control">{{extrato.date}}</p>
                                <p class="form-control">{{extrato.categories}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
        
      
    <div class="modal fade" id="cartao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Seus Cartões</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <label>Numero do Cartão</label>
                        <input type="text" value="{{card.card_number}}" class="form-control" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>Validade</label>
                        <input type="text" value="{{card.expire_date}}" class="form-control" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>CVV</label>
                        <input type="text" value="{{card.cvv}}" class="form-control" disabled>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <label>Fatura</label>
                        <input type="text" value="R${{card.bill}}" class="form-control" style="width: auto;" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>Limite</label>
                        <input type="text" class="form-control" value="R$ {{card.limit}}" style="width: auto;" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bloquear</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="transition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Suas Transações</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="transition-div">
                <select name="" id="transacao" class="form-select">
                    <option selected>---- ----</option>
                    <option value="pagamento">Pagamento</option>
                    <option value="deposito">Deposito</option>
                    <option value="transferencias">Transferencias</option>
                    <option value="compra">Compra</option>
                </select>
                <div style="margin-top: 10px;" id="transition-div-row">

                    <div id="payment" style="display:none;">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Valor da Fatura</label>
                                <input type="text" class="form-control" value="R$ {{card.bill}}" disabled>
                            </div>
                            
                            <div class="col-md-6" style="margin-top: 15px;">
                                <form method="POST" style="margin-top: 10px;">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input type="number" class="form-control" name="pagamento">
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn-fibo-1" style="width: 100px;">Pagar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="deposit" style="display:none;">
                        <form method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Valor para deposito</label>
                                    <input type="number" class="form-control" name="deposito">
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <button class="btn-fibo-1" style="width: 100px;">Depositar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="transfer" style="display: none;">
                        <form method="POST">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Valor</label>
                                    <input type="number" class="form-control" name="valor">
                                </div>
                                <div class="col-md-4">
                                    <label>Conta</label>
                                    <input type="text" name="conta" class="form-control">
                                </div>
                                <div class="col-md-4" style="margin-top: 15px;"> 
                                    <button class="btn-fibo-1" style="width: 100px;">Transferir</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="buy" style="display: none;">
                        <form method="POST">
                            <div class="row">
                                <div class="col-md-7">
                                    <select name="compra" id="" class="form-select">
                                        <option selected>---- ----</option>
                                        <option value="restaurante">Restaurante</option>
                                        <option value="transporte">Transporte</option>
                                        <option value="servicos">Serviços</option>
                                        <option value="supermercado">Supermercado</option>
                                        <option value="lazer">Lazer</option>
                                        <option value="educacao">Educação</option>
                                        <option value="eletronicos">Eletronicos</option>
                                        <option value="saude">Saúde</option>
                                        <option value="casa">Casa</option>
                                        <option value="outros">Outros</option>
                                    </select>
                                </div>

                                <div class="col-md-5">
                                    <input type="number" name="valor" class="form-control">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <button class="btn-fibo-1" >Comprar</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
          </div>
        </div>
    </div>

{% endblock %}

{% block js-files %}
    {% load static %}
    <script src="{% static 'js/transacao.js'%}"></script>
{% endblock %}