{% extends 'base.html' %}

{% block css-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/btn-fibo.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block title%}Home{% endblock %}

{%  block content %}

    <div class="row">

        <h2 style="color:whitesmoke">Olá, {{username}}.</h2>

        {% if has_error %}
            <p class="messages" >{{error_message}}</p>
        {% endif %}

        <div class="col-sm-4 col-md-3">
            <div class="card info">
                <div class="card-body">
                    <h5 class="card-title">Cartões</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Fatura & Limite</h6>
                    <p class="card-text">Veja seu cartão de crédito da sua fiboconta, além de consultar sua fatura.</p>
                    <button type="button" class="btn-fibo-1" data-bs-toggle="modal" data-bs-target="#cartao">clique aqui</button>
                </div>
            </div>


            <div class="card info">
                <div class="card-body">
                    <h5 class="card-title">Transações</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Depósitos & Pagamentos</h6>
                    <p class="card-text">Realize depósitos, pagamentos e transferências com sua fiboconta.</p>
                    <button type="button" class="btn-fibo-1" data-bs-toggle="modal" data-bs-target="#transition">clique aqui</button>
                </div>
            </div>

        </div>

        <div class="col-sm-4 col-md-9">

            <div class="row user-data">

                <div class="col-md-5">
                    <div class="card saldo"> <!---26.83rem-->
                        <div class="card-body">
                            <h4 class="card-subtitle">Saldo disponivel</h4>
                            <p class="card-text saldo-conta">R$ {{account.balance}}</p>
                            <h6 class="card-subtitle">Tipo da conta: <strong>{{account.type_account}}</strong></h6>
                            <h6>Numero da conta: <strong>{{account.account_number}}</strong></h6>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-7"> 
                    <div class="card extrato">
                        <div class="card-body">
                            <h4 class="card-subtitle">Extrato</h4>
                            <h6>Extratos pagos</h6>
                            <div id="scroll">
                                {% for extrato in transactions %}
                                <button class="alert alert-dark extrato-list" id="extrato_{{extrato.id}}" onclick = extrato(this) data-bs-toggle="modal" data-bs-target="#teste">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p class="form-control">R$ {{extrato.value}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="form-control">{{extrato.date}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            {% if extrato.categories is not None %}
                                            <p class="form-control">{{extrato.categories}}</p>
                                            {% else %}
                                            <p class="form-control">{{extrato.type_transaction}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
        
      
    <div class="modal fade" id="cartao" tabindex="-1" aria-labelledby="Cartão" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Seus Cartões</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <label>Numero do Cartão</label>
                        <input type="text" value="{{card.card_number}}" class="form-control" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>Validade</label>
                        <input type="text" value="{{card.expire_date}}" class="form-control" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>CVV</label>
                        <input type="text" value="{{card.cvv}}" class="form-control" disabled>
                    </div>
                </div>
                {% if account.type_account == 'corrente' %}
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <label>Fatura</label>
                        <input type="text" value="R${{card.bill}}" class="form-control" style="width: auto;" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>Limite</label>
                        <input type="text" class="form-control" value="R$ {{card.limit}}" style="width: auto;" disabled>
                    </div>
                </div>
                {% endif %}
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="transition" tabindex="-1" aria-labelledby="Transações" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Suas Transações</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="transition-div">
                <select name="" id="transacao" class="form-select">
                    <option selected>---- ----</option>
                    {% if account.type_account == 'corrente' %}
                        <option value="pagamento">Pagamento</option>
                    {% endif %}
                    <option value="deposito">Depósito</option>
                    <option value="transferencias">Transferências</option>
                    <option value="compra">Compra</option>
                </select>

                <div style="margin-top: 10px;" id="transition-div-row">
                    
                    <div id="payment" style="display:none;">
                    {% if account.type_account == 'corrente'%}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Valor da Fatura</label>
                                <input type="text" class="form-control" value="R$ {{card.bill}}" disabled>
                            </div>
                            
                            <div class="col-md-6" style="margin-top: 15px;">
                                <form method="POST" action="{% url 'web:payment' account.id %}"  style="margin-top: 10px;">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input type="number" class="form-control" name="payment_value">
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn-fibo-1" style="width: 100px;">Pagar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div id="deposit" style="display:none;">
                        <form method="POST" action="{% url 'web:deposit' account.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Valor para depósito</label>
                                    <input type="number" class="form-control" name="deposit_value">
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <button class="btn-fibo-1" style="width: 100px;">Depositar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="transfer" style="display: none;">
                        <form method="POST" action="{% url 'web:transfer' account.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Valor</label>
                                    <input type="number" class="form-control" name="transfer_value">
                                </div>
                                <div class="col-md-4">
                                    <label>Conta</label>
                                    <input type="text" name="account_transfer_number" class="form-control">
                                </div>
                                <div class="col-md-4" style="margin-top: 15px;"> 
                                    <button class="btn-fibo-1" style="width: 100px;">Transferir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div id="buy" style="display: none;">
                        <form method="POST" action="{% url 'web:buy' account.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <select name="buy_type" id="" class="form-select">
                                        <option selected>---- ----</option>
                                        <option value="Restaurante">Restaurante</option>
                                        <option value="Transporte">Transporte</option>
                                        <option value="Serviços">Serviços</option>
                                        <option value="Supermercado">Supermercado</option>
                                        <option value="Lazer">Lazer</option>
                                        <option value="Educação">Educação</option>
                                        <option value="Eletrônicos">Eletronicos</option>
                                        <option value="Saúde">Saúde</option>
                                        <option value="Casa">Casa</option>
                                        <option value="Outros">Outros</option>
                                    </select>
                                </div>
                            </div>
                                <br>
                            <div class="row">
                                <div class="col-md-4">
                                    {% if account.type_account == 'corrente'%}
                                    <select name="payment_type" class="form-select">
                                        <option selected>---- ---</option>
                                        <option value="Débito">Débito</option>
                                        <option value="Crédito">Crédito</option>
                                    </select>
                                    {% else %}
                                    <input type="text" value="Débito" name="payment_type" class="form-control" readonly>
                                    {% endif %}
                                </div>
                                <div class="col-md-5">
                                    <input type="password" name='card_password' placeholder="senha do cartão" class="form-control">
                                </div>
                                
                                <div class="col-md-3">
                                    <input type="number" name="buy_value" class="form-control">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 10px;">
                                <button class="btn-fibo-1" >Comprar</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="teste" tabindex="-1" aria-labelledby="teste" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Extrato Completo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="div-modal-body">
                
              </div>
            </div>
          </div>
    </div>
{% endblock %}

{% block js-files %}
    {% load static %}
    <script src="{% static 'js/transacao.js'%}"></script>
    <script src="{% static 'js/dataAccount.js'%}"></script>
{% endblock %}